{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mx-auto">
    <div class="col-sm-6">
        <img src="{{b.image.url}}" height="500px" width="100%" alt="{{b.image.url}} ">
    </div>
        <div class="col-sm-6">
            <div>
                <h1 class="a">{{b.name}}</h1>
                <p>{{b.price}}</p>
                <h3 class="new">product description</h3>
                <p>{{b.description}}</p>
                {% if b.stock <= 0 %}
                <h2> OUT OF STOCK</h2>
                {% else %}
                <a class="btn btn-primary" href="{% url 'cart:addcart' b.id %}">ADD TO CART</a>
                {% endif %}>
            </div>
        </div>
    </div>
</div>
{% endblock %}